body { font-size: 9pt; font-family: sans-serif; }

.FRAMED { padding: 5px; border: solid 1px #aaaaaa; border-radius: 5px; margin-top: 5px; margin-bottom: 5px; margin-right: 5px; }

.float-left{ float: left; margin-bottom: 5px; margin: 5px; }

input[type=text] { border: none; font-family: sans-serif; font-size: 9pt; color: #82000A; font-weight: bold; }

input[type=button] { font-family: sans-serif; font-size: 9pt; background: #82000A; color: #ffffff; border: solid 1px #000000; padding: 5px; border-radius: 5px; cursor: pointer; font-weight: bold; }

.field-key      { font-size: 8pt; }
.field-value    {}

.explanation { color: #482f7c; font-size: 8pt; font-style: italic; }
.calculation { color: #482f7c; font-size: 8pt; font-style: italic; font-family: monospace; }

hr { border: none; height: 1px; background: #d88b8b; clear: both; }


.column-1 {}
.column-2 {}
.column-3 {}

.column-1,
.column-2,
.column-3 { float: left; width: 32%; }


@media screen and ( max-width: 480px ) {
  .column-1,
  .column-2,
  .column-3 { width: 97%; }
}

table { font-size: 9pt; width: 100%; }
table.stats { text-align: left; }
table.stats th { text-align: center; vertical-align: top; }
table.stats td.center { text-align: center; }
table.stats td.center input[type=button] { text-align: center; display: block; margin: 0 auto; }
table td input[type=checkbox] { margin: 0 auto; display: block; }
.center { text-align: center; }
.right { text-align: right; }

.stat { width: 100%; text-align: center; }
.stat-mod { width: 100%; text-align: center; }

table td input[type=text] { width: 100%; }


.clear { clear: both; }

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
