
<head>
    <title> Terpomo Beleta </title>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="style.css">
    <script src="jquery-3.4.1.min.js"></script>
    <script src="script.js"></script>
</head>

<body>
    <div class="character-info">
        <div class="character-basics">
        <h2>Character Info</h2>
            <table class="character">
                <tr>
                    <td>
                        <label>Character name</label>
                        <input type="text" id="character-name" value="">
                    </td>
                    <td>
                        <label>Class</label>
                        <input type="text" id="class" value="">
                    </td>
                    <td>
                        <label>Level</label>
                        <input type="text" id="level" value="">
                    </td>
                    <td>
                        <label>Background</label>
                        <input type="text" id="background" value="">
                    </td>
                    <td>
                        <label>Player name</label>
                        <input type="text" id="player-name" value="">
                    </td>
                    <td>
                        <label>Race</label>
                        <select id="race">
                            <option value="dragonborn">Dragonborn</option>
                            <option value="dwarf">Dwarf</option>
                            <option value="elf">Elf</option>
                            <option value="gnome">Gnome</option>
                            <option value="half-elf">Half-Elf</option>
                            <option value="halfling">Halfling</option>
                            <option value="half-orc">Half-Orc</option>
                            <option value="human">Human</option>
                            <option value="tiefling">Tiefling</option>
                        </select>
                    </td>
                    <td>
                        <label>Alignment</label>
                        <select id="alignment">
                            <option value="lawful-good">Lawful good</option>
                            <option value="neutral-good">Neutral good</option>
                            <option value="chaotic-good">Chaotic good</option>

                            <option value="lawful-neutral">Lawful neutral</option>
                            <option value="neutral-neutral">Neutral neutral</option>
                            <option value="chaotic-neutral">Chaotic neutral</option>

                            <option value="lawful-evil">Lawful evil</option>
                            <option value="neutral-evil">Neutral evil</option>
                            <option value="chaotic-evil">Chaotic evil</option>
                        </select>
                    </td>
                    <td>
                        <label>Experience points</label>
                        <input type="text" id="exp" value="n/a">
                    </td>
                </tr>
                <tr>
                    <td colspan="7">
                        <label>Notes...</label>
                        <textarea id="notes"></textarea>
                    </td>
                </tr>
            </table>
        </div>
        <hr>
        <div class="roll-helper">
            <p>Die roll:
                <input type="button" id="roll-d4" value="Roll d4" class="roll-die">
                <input type="button" id="roll-d6" value="Roll d6" class="roll-die">
                <input type="button" id="roll-d8" value="Roll d8" class="roll-die">
                <input type="button" id="roll-d10" value="Roll d10" class="roll-die">
                <input type="button" id="roll-d12" value="Roll d12" class="roll-die">
                <input type="button" id="roll-d20" value="Roll d20" class="roll-die">
                <input type="button" id="roll-d100" value="Roll d100" class="roll-die">
            </p>

            <hr>
            <table class="roll-results">
                <tr>
                    <th style="width: 100px;">Roll result</th>
                    <td style="width: 200px;">
                        <input type="text" id="roll-result" value="">
                    </td>
                    <td>
                        <span class="note" id="last-roll">Last roll: </span>
                    </td>
                </tr>
            </table>
            <hr>
            <table class="roll-reference">
                <tr>
                    <td>
                        <p>
                            Roll initiative:<br>
                            d20 + dex-mod
                            <span class="note" id="roll-initiative-reference"></span><br>
                            <input type="button" id="roll-initiative" value="Roll initiative">
                        </p>
                    </td>
                    <td>
                        <p>
                            Roll to hit, melee <span id="attack-roll-melee-weapon" class="note"></span><br>(attack roll):<br>
                            d20 + str-mod + proficiency-bonus
                            <span class="note" id="roll-attack-melee-reference"></span><br>
                            <input type="button" id="roll-attack-melee" value="Melee attack roll">
                        </p>
                    </td>
                    <td>
                        <p>
                            Roll to hit, ranged <span id="attack-roll-ranged-weapon" class="note"></span><br>(attack roll):<br>
                            d20 + dex-mod + proficiency-bonus
                            <span class="note" id="roll-attack-ranged-reference"></span><br>
                            <input type="button" id="roll-attack-ranged" value="Ranged attack roll">
                        </p>
                    </td>
                </tr>
            </table>
            
        </div>
        <hr>
        <div class="column-container">
            <div class="col-20 col"> <!-- stats -->
                <table class="stats">
                    <tr>
                        <th class="stat-name">Stat</th>
                        <th class="base-stat">Base Stat</th>
                        <th class="stat-mod">Modifier<br><span class="note">(stat - 10) / 2</span></th>
                    </tr>
                    <tr>
                        <td class="stat-name">STR</td>
                        <td class="base-stat"><input type="text" id="str" value=""></td>
                        <td class="stat-mod"><input type="text" id="str-mod" value=""></td>
                    </tr>
                    <tr>
                        <td class="stat-name">DEX</td>
                        <td class="base-stat"><input type="text" id="dex" value=""></td>
                        <td class="stat-mod"><input type="text" id="dex-mod" value=""></td>
                    </tr>
                    <tr>
                        <td class="stat-name">CON</td>
                        <td class="base-stat"><input type="text" id="con" value=""></td>
                        <td class="stat-mod"><input type="text" id="con-mod" value=""></td>
                    </tr>
                    <tr>
                        <td class="stat-name">INT</td>
                        <td class="base-stat"><input type="text" id="int" value=""></td>
                        <td class="stat-mod"><input type="text" id="int-mod" value=""></td>
                    </tr>
                    <tr>
                        <td class="stat-name">WIS</td>
                        <td class="base-stat"><input type="text" id="wis" value=""></td>
                        <td class="stat-mod"><input type="text" id="wis-mod" value=""></td>
                    </tr>
                    <tr>
                        <td class="stat-name">CHA</td>
                        <td class="base-stat"><input type="text" id="cha" value=""></td>
                        <td class="stat-mod"><input type="text" id="cha-mod" value=""></td>
                    </tr>
                </table>
                <hr>

                <p>
                    <label>Inspiration</label>
                    <input type="text" id="inspiration" value="">
                </p>
                <hr>
                <p>
                    <label>Proficiency bonus</label>
                    <br><span class="note"></span>
                    <input type="text" id="proficiency-bonus" value="">
                </p>

                <hr>
                <p>Saving throws</p>
                <table class="saving-throws">
                    <tr>
                        <td class="toggle"><input type="checkbox" id="str-saving-throw-toggle"></td>
                        <td class="mod"><input type="text" id="str-saving-throw-mod"></td>
                        <td class="label">Strength</td>
                    </tr>
                    <tr>
                        <td class="toggle"><input type="checkbox" id="dex-saving-throw-toggle"></td>
                        <td class="mod"><input type="text" id="dex-saving-throw-mod"></td>
                        <td class="label">Dexterity</td>
                    </tr>
                    <tr>
                        <td class="toggle"><input type="checkbox" id="con-saving-throw-toggle"></td>
                        <td class="mod"><input type="text" id="con-saving-throw-mod"></td>
                        <td class="label">Constitution</td>
                    </tr>
                    <tr>
                        <td class="toggle"><input type="checkbox" id="int-saving-throw-toggle"></td>
                        <td class="mod"><input type="text" id="int-saving-throw-mod"></td>
                        <td class="label">Intelligence</td>
                    </tr>
                    <tr>
                        <td class="toggle"><input type="checkbox" id="wis-saving-throw-toggle"></td>
                        <td class="mod"><input type="text" id="wis-saving-throw-mod"></td>
                        <td class="label">Wisdom</td>
                    </tr>
                    <tr>
                        <td class="toggle"><input type="checkbox" id="cha-saving-throw-toggle"></td>
                        <td class="mod"><input type="text" id="cha-saving-throw-mod"></td>
                        <td class="label">Charisma</td>
                    </tr>
                </table>
                <hr>
                <p>
                    <label>Passive wisdom (perception)</label>
                    <input type="text" id="passive-wisdom" value="">
                </p>
            </div> <!-- stats -->

            <div class="col-25 col"> <!-- inspiration/proficiency bonus/saving throws/skills -->

                <p>Skills</p>
                <table class="skills">
                    <tr>
                        <td class="toggle"><input type="checkbox" id="skill-acrobatics-toggle"></td>
                        <td class="mod"><input type="text" id="skill-acrobatics-mod"></td>
                        <td class="label">Acrobatics <span class="note">(dex)</span></td>
                    </tr>

                    <tr>
                        <td class="toggle"><input type="checkbox" id="skill-animal-handling-toggle"></td>
                        <td class="mod"><input type="text" id="skill-animal-handling-mod"></td>
                        <td class="label">Animal handling <span class="note">(wis)</span></td>
                    </tr>
                    <tr>
                        <td class="toggle"><input type="checkbox" id="skill-arcana-toggle"></td>
                        <td class="mod"><input type="text" id="skill-arcana-mod"></td>
                        <td class="label">Arcana <span class="note">(int)</span></td>
                    </tr>
                    <tr>
                        <td class="toggle"><input type="checkbox" id="skill-athletics-toggle"></td>
                        <td class="mod"><input type="text" id="skill-athletics-mod"></td>
                        <td class="label">Athletics <span class="note">(str)</span></td>
                    </tr>
                    <tr>
                        <td class="toggle"><input type="checkbox" id="skill-deception-toggle"></td>
                        <td class="mod"><input type="text" id="skill-deception-mod"></td>
                        <td class="label">Deception <span class="note">(cha)</span></td>
                    </tr>
                    <tr>
                        <td class="toggle"><input type="checkbox" id="skill-history-toggle"></td>
                        <td class="mod"><input type="text" id="skill-history-mod"></td>
                        <td class="label">History <span class="note">(int)</span></td>
                    </tr>
                    <tr>
                        <td class="toggle"><input type="checkbox" id="skill-insight-toggle"></td>
                        <td class="mod"><input type="text" id="skill-insight-mod"></td>
                        <td class="label">Insight <span class="note">(wis)</span></td>
                    </tr>
                    <tr>
                        <td class="toggle"><input type="checkbox" id="skill-intimidation-toggle"></td>
                        <td class="mod"><input type="text" id="skill-intimidation-mod"></td>
                        <td class="label">Intimidation <span class="note">(cha)</span></td>
                    </tr>
                    <tr>
                        <td class="toggle"><input type="checkbox" id="skill-investigation-toggle"></td>
                        <td class="mod"><input type="text" id="skill-investigation-mod"></td>
                        <td class="label">Investigation <span class="note">(int)</span></td>
                    </tr>
                    <tr>
                        <td class="toggle"><input type="checkbox" id="skill-medicine-toggle"></td>
                        <td class="mod"><input type="text" id="skill-medicine-mod"></td>
                        <td class="label">Medicine <span class="note">(wis)</span></td>
                    </tr>
                    <tr>
                        <td class="toggle"><input type="checkbox" id="skill-nature-toggle"></td>
                        <td class="mod"><input type="text" id="skill-nature-mod"></td>
                        <td class="label">Nature <span class="note">(int)</span></td>
                    </tr>
                    <tr>
                        <td class="toggle"><input type="checkbox" id="skill-perception-toggle"></td>
                        <td class="mod"><input type="text" id="skill-perception-mod"></td>
                        <td class="label">Perception <span class="note">(wis)</span></td>
                    </tr>
                    <tr>
                        <td class="toggle"><input type="checkbox" id="skill-performance-toggle"></td>
                        <td class="mod"><input type="text" id="skill-performance-mod"></td>
                        <td class="label">Performance <span class="note">(cha)</span></td>
                    </tr>
                    <tr>
                        <td class="toggle"><input type="checkbox" id="skill-persuasion-toggle"></td>
                        <td class="mod"><input type="text" id="skill-persuasion-mod"></td>
                        <td class="label">Persuasion <span class="note">(cha)</span></td>
                    </tr>
                    <tr>
                        <td class="toggle"><input type="checkbox" id="skill-religion-toggle"></td>
                        <td class="mod"><input type="text" id="skill-religion-mod"></td>
                        <td class="label">Religion <span class="note">(int)</span></td>
                    </tr>
                    <tr>
                        <td class="toggle"><input type="checkbox" id="skill-sleight-of-hand-toggle"></td>
                        <td class="mod"><input type="text" id="skill-sleight-of-hand-mod"></td>
                        <td class="label">Sleight of Hand <span class="note">(dex)</span></td>
                    </tr>
                    <tr>
                        <td class="toggle"><input type="checkbox" id="skill-stealth-toggle"></td>
                        <td class="mod"><input type="text" id="skill-stealth-mod"></td>
                        <td class="label">Stealth <span class="note">(dex)</span></td>
                    </tr>
                    <tr>
                        <td class="toggle"><input type="checkbox" id="skill-survival-toggle"></td>
                        <td class="mod"><input type="text" id="skill-survival-mod"></td>
                        <td class="label">Survival <span class="note">(wis)</span></td>
                    </tr>
                </table>
            </div> <!-- inspiration/proficiency bonus/saving throws/skills -->

            <div class="col-25 col">
                <table class="battle-info">
                    <tr>
                        <td>
                            <label>Armor class</label>
                            <input type="text" id="armor-class" value="">
                        </td>
                        <td>
                            <label>Initiative</label>
                            <input type="text" id="initiative" value="">
                        </td>
                        <td>
                            <label>Speed</label>
                            <input type="text" id="speed" value="">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <label>Hit point maximum</label>
                            <input type="text" id="max-hp" value="">
                            <label>Current hit points</label>
                            <input type="text" id="current-hp" value="">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <label>Temporary hit points</label>
                            <input type="text" id="temporary-hp" value="">
                        </td>
                    </tr>
                </table>
                <table class="hit-dice-and-saves">
                    <tr>
                        <td>
                            <label>Hit dice</label>
                            <input type="text" id="hit-dice" value="">
                        </td>
                        <td>
                            <p>Death saves</p>
                            <label>Successes</label>
                            <input type="checkbox" id="death-save-success-1">
                            <input type="checkbox" id="death-save-success-2">
                            <input type="checkbox" id="death-save-success-3">
                            <br>
                            <label>Failures</label>
                            <input type="checkbox" id="death-save-failure-1">
                            <input type="checkbox" id="death-save-failure-2">
                            <input type="checkbox" id="death-save-failure-3">
                        </td>
                    </tr>
                </table>
                <hr>
                <p>Attacks and Spellcasting</p>
                <table class="attacks">
                    <tr>
                        <th>Name</th>
                        <th>Atk bonus</th>
                        <th>Damage/type</th>
                    </tr>
                    <tr>
                        <td><input type="text" id="weapon-1-name" value=""></td>
                        <td><input type="text" id="weapon-1-atk-bonus" value=""></td>
                        <td><input type="text" id="weapon-1-damage" value=""></td>
                    </tr>
                    <tr>
                        <td><input type="text" id="weapon-2-name" value=""></td>
                        <td><input type="text" id="weapon-2-atk-bonus" value=""></td>
                        <td><input type="text" id="weapon-2-damage" value=""></td>
                    </tr>
                </table>
            </div>

            <div class="col-25 col">
                <p>Proficiencies</p>
                <ul id="proficiencies-info">
                </ul>

            <div class="clear"></div>
        </div>
    </div>

    <div class="clear"></div>
</body>
