input[type=text] { width: 100%; text-align: center; }

.die-roll input[type=button] { width: 100%; }
#roll-result { width: 100px; background: #ffff00; }
.roll-results { text-align: left; }

table { width: 100%; }
table.dice { text-align: center; }
table.dice tr td { border: solid 1px #aaa; padding: 10px; }
table.dice tr td input[type=text] { width:100%; margin-top: 5px; text-align: center; }

label { font-size: 10pt; clear: both; display: block; }
table.character textarea { width: 100%; }
table.character select { width: 100%; }

table.stats input[type=text] { text-align: center; width: 75px; display: block; margin: 0 auto; }

table.saving-throws input[type=text] { width: 90%; text-align: center; }
table.skills input[type=text] { width: 90%; text-align: center; }

table td.toggle { width: 10%; }
table td.mod { width: 25%; }
table td.label { width: 65%; }

table.battle-info { width: 100%; }
table.battle-info td { width: 33%; }
table.battle-info input[type=text] { width: 90%; }

table.attacks input[type=text] { width: 90%; margin: 0 auto; display: block; }

/*div.die-roll { width: 10%; float: left; }*/
/*div.character-info { width: 85%; float: right; }*/
div.character-info { width: 100%; }
div.clear { clear: both; }

div.float-left { float: left; }
div.float-right { float: right; }

div.column-container { width: 100%; }
div.column-container .col { float: left; background: #ddd; }
div.column-container .col-25 { width: 25%; }
div.column-container .col-20 { width: 20%; }
div.column-container .col-10 { width: 10%; }

div.column-container table { width: 100%; }

.roll-reference { font-size: 10pt; }

span.note { font-size: 9pt; color: #0B82B1; }

.character-info,
.character-info table.character,
.character-info table.character input[type=text],
.character-info table.character textarea { font-size: 10pt; }
