
<head>
    <title> Terpomo Beleta </title>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="content/style.css">
    
    <script src="content/jquery-3.4.1.min.js"></script>
    <script src="content/script.js"></script>
</head>

<body>
    <div class="page-container">
        <div class="CHARACTER-INFO FRAMED cf">
            <div class="float-left">
                <span class="field-key">Character name</span><br>
                <span class="field-value"><input type="text" id="character-name"></span>
            </div>
            
            <div class="float-left">
                <span class="field-key">Class</span><br>
                <span class="field-value"><input type="text" id="character-class"></span>
            </div>
            
            <div class="float-left">
                <span class="field-key">Level</span><br>
                <span class="field-value"><input type="text" id="character-level"></span>
            </div>
            
            <div class="float-left">
                <span class="field-key">Background</span><br>
                <span class="field-value"><input type="text" id="character-background"></span>
            </div>
            
            <div class="float-left">
                <span class="field-key">Race</span><br>
                <span class="field-value"><input type="text" id="character-race"></span>
            </div>
            
            <div class="float-left">
                <span class="field-key">Alignment</span><br>
                <span class="field-value"><input type="text" id="character-alignment"></span>
            </div>
        </div>
        
        <div class="DIE-ROLL FRAMED cf">
            
            <div class="float-left">
                <p>Roll result</p>
                <input type="text" id="roll-result" value="-">
            </div>
            
            <div class="float-left">
                <p>Last roll information</p>
                <p><span class="note" id="last-roll">-</span></p>
            </div>
            
            <hr>
                        
            <div class="float-left">
                <p>
                    Roll Initiative:<br>
                    <span class="explanation">d20 + dex-mod</span><br>
                    <span class="calculation" id="roll-initiative-reference">()</span>
                </p>
                <input type="button" value="Roll initiative" id="roll-initiative">
            </div>
            
            <div class="float-left">
                <p>
                    Melee attack damage roll:<br>
                    <span class="explanation">d20 + str-mod + proficiency-bonus</span><br>
                    <span class="calculation" id="roll-attack-melee-reference">()</span>
                </p>
                <input type="button" value="Roll melee attack damage" id="roll-initiative">
            </div>
            
            <div class="float-left">
                <p>
                    Ranged attack damage roll:<br>
                    <span class="explanation">d20 + dex-mod + proficiency-bonus</span><br>
                    <span class="calculation" id="roll-attack-ranged-reference">()</span>
                </p>
                <input type="button" value="Roll ranged attack damage" id="roll-initiative">
            </div>
            
            <hr>
            
            <!-- Just the dice -->
            
            <div class="float-left">
                <input type="button" value="Roll d4" class="roll-die" id="roll-d4">
            </div>
            
            <div class="float-left">
                <input type="button" value="Roll d6" class="roll-die" id="roll-d6">
            </div>
            
            <div class="float-left">
                <input type="button" value="Roll d8" class="roll-die" id="roll-d8">
            </div>
            
            <div class="float-left">
                <input type="button" value="Roll d10" class="roll-die" id="roll-d10">
            </div>
            
            <div class="float-left">
                <input type="button" value="Roll d12" class="roll-die" id="roll-d12">
            </div>
            
            <div class="float-left">
                <input type="button" value="Roll d20" class="roll-die" id="roll-d20">
            </div>
            
            <div class="float-left">
                <input type="button" value="Roll d100" class="roll-die" id="roll-d100">
            </div>
        </div>
        
        <div class="STAT-INFO FRAMED cf">
            
            <div class="column-1">
                <div class="framed">
                    <table class="stats">
                        <tr>
                            <th style="width:25%;">Stat</th>
                            <th style="width:25%;">Base</th>
                            <th style="width:25%;">
                                Ability Modifier
                                <br><span class="explanation">(stat-10)/2</span>
                            </th>
                            <th style="width:25%;">Roll</th>
                        </tr>
                        <tr>
                            <td>Strength</td>
                            <td><input type="text" class="stat" id="stat-str-base"></td>
                            <td><input type="text" class="stat-mod" id="stat-str-mod"></td>
                            <td class="right"><input type="button" value="STR check" id="roll-str-check"></td>
                        </tr>
                        
                        <tr>
                            <td>Dexterity</td>
                            <td><input type="text" class="stat" id="stat-dex-base"></td>
                            <td><input type="text" class="stat-mod" id="stat-dex-mod"></td>
                            <td class="right"><input type="button" value="DEX check" id="roll-dex-check"></td>
                        </tr>
                        
                        <tr>
                            <td>Constitution</td>
                            <td><input type="text" class="stat" id="stat-con-base"></td>
                            <td><input type="text" class="stat-mod" id="stat-con-mod"></td>
                            <td class="right"><input type="button" value="CON check" id="roll-con-check"></td>
                        </tr>
                        
                        <tr>
                            <td>Intelligence</td>
                            <td><input type="text" class="stat" id="stat-int-base"></td>
                            <td><input type="text" class="stat-mod" id="stat-int-mod"></td>
                            <td class="right"><input type="button" value="INT check" id="roll-int-check"></td>
                        </tr>
                        
                        <tr>
                            <td>Wisdom</td>
                            <td><input type="text" class="stat" id="stat-wis-base"></td>
                            <td><input type="text" class="stat-mod" id="stat-wis-mod"></td>
                            <td class="right"><input type="button" value="WIS check" id="roll-wis-check"></td>
                        </tr>
                        
                        <tr>
                            <td>Charisma</td>
                            <td><input type="text" class="stat" id="stat-cha-base"></td>
                            <td><input type="text" class="stat-mod" id="stat-cha-mod"></td>
                            <td class="right"><input type="button" value="CHA check" id="roll-cha-check"></td>
                        </tr>
                    </table>
                </div>
                <div class="framed cf">
                    <div class="float-left" style="width:30%;">
                        <span class="field-key">Inspiration</span><br>
                        <span class="field-value"><input type="text" id=""></span>
                    </div>
                    
                    <div class="float-left" style="width:30%;">
                        <span class="field-key">Proficiency bonus</span><br>
                        <span class="field-value"><input type="text" id=""></span>
                    </div>
                    
                    <div class="float-left" style="width:30%;">
                        <span class="field-key">Passive wisdom (perception)</span><br>
                        <span class="field-value"><input type="text" id=""></span>
                    </div>
                </div>
                <div class="framed cf">
                    Saving throws
                    <table class="saving-throws">
                        <tr>
                            <th style="width: 25%;">Stat</th>
                            <th style="width: 25%;">Mod</th>
                            <th style="width: 25%;">Check</th>
                            <th style="width: 25%;">Roll</th>
                        </tr>
                        <tr>
                            <td class="center">Strength</td>
                            <td class="center"><input type="text" value="xyz" class="stat-mod" id="str-saving-throw-mod"></td>
                            <td class="center"><input type="checkbox" id="str-saving-throw-toggle"></td>
                            <td class="right"><input type="button" value="STR saving throw" id="roll-saving-throw-str"></td>
                        </tr>
                        
                        <tr>
                            <td class="center">Dexterity</td>
                            <td class="center"><input type="text" value="xyz" class="stat-mod" id="str-saving-throw-mod"></td>
                            <td class="center"><input type="checkbox" id="str-saving-throw-toggle"></td>
                            <td class="right"><input type="button" value="DEX saving throw" id="roll-saving-throw-str"></td>
                        </tr>
                        
                        <tr>
                            <td class="center">Constitution</td>
                            <td class="center"><input type="text" value="xyz" class="stat-mod" id="str-saving-throw-mod"></td>
                            <td class="center"><input type="checkbox" id="str-saving-throw-toggle"></td>
                            <td class="right"><input type="button" value="CON saving throw" id="roll-saving-throw-str"></td>
                        </tr>
                        
                        <tr>
                            <td class="center">Intelligence</td>
                            <td class="center"><input type="text" value="xyz" class="stat-mod" id="str-saving-throw-mod"></td>
                            <td class="center"><input type="checkbox" id="str-saving-throw-toggle"></td>
                            <td class="right"><input type="button" value="INT saving throw" id="roll-saving-throw-str"></td>
                        </tr>
                        
                        <tr>
                            <td class="center">Wisdom</td>
                            <td class="center"><input type="text" value="xyz" class="stat-mod" id="str-saving-throw-mod"></td>
                            <td class="center"><input type="checkbox" id="str-saving-throw-toggle"></td>
                            <td class="right"><input type="button" value="WIS saving throw" id="roll-saving-throw-str"></td>
                        </tr>
                        
                        <tr>
                            <td class="center">Charisma</td>
                            <td class="center"><input type="text" value="xyz" class="stat-mod" id="str-saving-throw-mod"></td>
                            <td class="center"><input type="checkbox" id="str-saving-throw-toggle"></td>
                            <td class="right"><input type="button" value="CHA saving throw" id="roll-saving-throw-str"></td>
                        </tr>
                    </table>
                </div>
            </div>
            
            <div class="column-2">
                <div class="cf framed">
                    
                    <div class="float-left" style="width:30%;">
                        <span class="field-key">Armor class</span><br>
                        <span class="field-value"><input type="text" value="xyz" id="character-name"></span>
                    </div>
                    
                    <div class="float-left" style="width:30%;">
                        <span class="field-key">Initiative</span><br>
                        <span class="field-value"><input type="text" value="xyz" id="character-name"></span>
                    </div>
                    
                    <div class="float-left" style="width:30%;">
                        <span class="field-key">Speed</span><br>
                        <span class="field-value"><input type="text" value="xyz" id="character-name"></span>
                    </div>
                    
                    <hr>
                    
                    <div class="float-left" style="width:30%;">
                        <span class="field-key">Hit point maximum</span><br>
                        <span class="field-value"><input type="text" value="xyz" id="character-name"></span>
                    </div>
                    
                    <div class="float-left" style="width:30%;">
                        <span class="field-key">Current hit points</span><br>
                        <span class="field-value"><input type="text" value="xyz" id="character-name"></span>
                    </div>
                    
                    <div class="float-left" style="width:30%;">
                        <span class="field-key">Temporary hit points</span><br>
                        <span class="field-value"><input type="text" value="xyz" id="character-name"></span>
                    </div>
                    
                    <hr>
                    
                    <div class="float-left" style="width:48%;">
                        <span class="field-key">Hit dice</span><br>
                        <span class="field-value"><input type="text" value="xyz" id="character-name"></span>
                    </div>
                    
                    <div class="float-left" style="width:48%;">
                        <span class="field-key">Death saves</span><br>
                        <p>
                        <input type="checkbox">
                        <input type="checkbox">
                        <input type="checkbox">
                        Successes
                        </p>
                        
                        <p>
                        <input type="checkbox">
                        <input type="checkbox">
                        <input type="checkbox">
                        Failures
                        </p>
                    </div>
                    
                </div>
                
                <div class="ITEMS framed">
                    <table>
                        <tr>
                            <th>Item name</th>
                            <th>Attack bonus</th>
                            <th>Damage/type</th>
                        </tr>
                        
                        <tr>
                            <td><input type="text" value="xyz" id=""></td>
                            <td><input type="text" value="xyz" id=""></td>
                            <td><input type="text" value="xyz" id=""></td>
                        </tr>
                        
                        <tr>
                            <td><input type="text" value="xyz" id=""></td>
                            <td><input type="text" value="xyz" id=""></td>
                            <td><input type="text" value="xyz" id=""></td>
                        </tr>
                    </table>
                </div>
            </div>
            
            <div class="column-3 framed">
                <table class="skills">
                    <tr>
                        <th>Skill</th>
                        <th>Stat</th>
                        <th>Mod</th>
                        <th>Check</th>
                        <th>Roll</th>
                    </tr>
                    <tr>
                        <td class="label">Acrobatics </td>
                        <td class="center"><span class="explanation">(dex)</span></td>
                        <td class="mod"><input type="text" class="stat-mod" value="xyz" id="skill-acrobatics-mod"></td>
                        <td class="toggle"><input type="checkbox" id="skill-acrobatics-toggle"></td>
                        <td class="right"><input type="button" value="Acrobatics check" id="roll-saving-throw-str"></td>
                    </tr>

                    <tr>
                        <td class="label">Animal handling</td>
                        <td class="center"><span class="explanation">(wis)</span></td>
                        <td class="mod"><input type="text" class="stat-mod" value="xyz" id="skill-animal-handling-mod"></td>
                        <td class="toggle"><input type="checkbox" id="skill-animal-handling-toggle"></td>
                        <td class="right"><input type="button" value="Animal handling check" id="roll-saving-throw-str"></td>
                    </tr>
                    
                    <tr>
                        <td class="label">Arcana</td>
                        <td class="center"><span class="explanation">(int)</span></td>
                        <td class="mod"><input type="text" class="stat-mod" value="xyz" id="skill-arcana-mod"></td>
                        <td class="toggle"><input type="checkbox" id="skill-arcana-toggle"></td>
                        <td class="right"><input type="button" value="Arcana check" id="roll-saving-throw-str"></td>
                    </tr>
                    
                    <tr>
                        <td class="label">Athletics</td>
                        <td class="center"><span class="explanation">(str)</span></td>
                        <td class="mod"><input type="text" class="stat-mod" value="xyz" id="skill-athletics-mod"></td>
                        <td class="toggle"><input type="checkbox" id="skill-athletics-toggle"></td>
                        <td class="right"><input type="button" value="Athletics check" id="roll-saving-throw-str"></td>
                    </tr>
                    
                    <tr>
                        <td class="label">Deception</td>
                        <td class="center"><span class="explanation">(cha)</span></td>
                        <td class="mod"><input type="text" class="stat-mod" value="xyz" id="skill-deception-mod"></td>
                        <td class="toggle"><input type="checkbox" id="skill-deception-toggle"></td>
                        <td class="right"><input type="button" value="Deception check" id="roll-saving-throw-str"></td>
                    </tr>
                    
                    <tr>
                        <td class="label">History</td>
                        <td class="center"><span class="explanation">(int)</span></td>
                        <td class="mod"><input type="text" class="stat-mod" value="xyz" id="skill-history-mod"></td>
                        <td class="toggle"><input type="checkbox" id="skill-history-toggle"></td>
                        <td class="right"><input type="button" value="History check" id="roll-saving-throw-str"></td>
                    </tr>
                    
                    <tr>
                        <td class="label">Insight</td>
                        <td class="center"><span class="explanation">(wis)</span></td>
                        <td class="mod"><input type="text" class="stat-mod" value="xyz" id="skill-insight-mod"></td>
                        <td class="toggle"><input type="checkbox" id="skill-insight-toggle"></td>
                        <td class="right"><input type="button" value="Insight check" id="roll-saving-throw-str"></td>
                    </tr>
                    
                    <tr>
                        <td class="label">Intimidation</td>
                        <td class="center"><span class="explanation">(cha)</span></td>
                        <td class="mod"><input type="text" class="stat-mod" value="xyz" id="skill-intimidation-mod"></td>
                        <td class="toggle"><input type="checkbox" id="skill-intimidation-toggle"></td>
                        <td class="right"><input type="button" value="Intimidation check" id="roll-saving-throw-str"></td>
                    </tr>
                    <tr>
                        <td class="label">Investigation</td>
                        <td class="center"><span class="explanation">(int)</span></td>
                        <td class="mod"><input type="text" class="stat-mod" value="xyz" id="skill-investigation-mod"></td>
                        <td class="toggle"><input type="checkbox" id="skill-investigation-toggle"></td>
                        <td class="right"><input type="button" value="Investigation check" id="roll-saving-throw-str"></td>
                    </tr>
                    <tr>
                        <td class="label">Medicine</td>
                        <td class="center"><span class="explanation">(wis)</span></td>
                        <td class="mod"><input type="text" class="stat-mod" value="xyz" id="skill-medicine-mod"></td>
                        <td class="toggle"><input type="checkbox" id="skill-medicine-toggle"></td>
                        <td class="right"><input type="button" value="Medicine check" id="roll-saving-throw-str"></td>
                    </tr>
                    <tr>
                        <td class="label">Nature</td>
                        <td class="center"><span class="explanation">(int)</span></td>
                        <td class="mod"><input type="text" class="stat-mod" value="xyz" id="skill-nature-mod"></td>
                        <td class="toggle"><input type="checkbox" id="skill-nature-toggle"></td>
                        <td class="right"><input type="button" value="Nature check" id="roll-saving-throw-str"></td>
                    </tr>
                    <tr>
                        <td class="label">Perception</td>
                        <td class="center"><span class="explanation">(wis)</span></td>
                        <td class="mod"><input type="text" class="stat-mod" value="xyz" id="skill-perception-mod"></td>
                        <td class="toggle"><input type="checkbox" id="skill-perception-toggle"></td>
                        <td class="right"><input type="button" value="Perception check" id="roll-saving-throw-str"></td>
                    </tr>
                    <tr>
                        <td class="label">Performance</td>
                        <td class="center"><span class="explanation">(cha)</span></td>
                        <td class="mod"><input type="text" class="stat-mod" value="xyz" id="skill-performance-mod"></td>
                        <td class="toggle"><input type="checkbox" id="skill-performance-toggle"></td>
                        <td class="right"><input type="button" value="Performance check" id="roll-saving-throw-str"></td>
                    </tr>
                    <tr>
                        <td class="label">Persuasion</td>
                        <td class="center"><span class="explanation">(cha)</span></td>
                        <td class="mod"><input type="text" class="stat-mod" value="xyz" id="skill-persuasion-mod"></td>
                        <td class="toggle"><input type="checkbox" id="skill-persuasion-toggle"></td>
                        <td class="right"><input type="button" value="Persuasion check" id="roll-saving-throw-str"></td>
                    </tr>
                    <tr>
                        <td class="label">Religion</td>
                        <td class="center"><span class="explanation">(int)</span></td>
                        <td class="mod"><input type="text" class="stat-mod" value="xyz" id="skill-religion-mod"></td>
                        <td class="toggle"><input type="checkbox" id="skill-religion-toggle"></td>
                        <td class="right"><input type="button" value="Religion check" id="roll-saving-throw-str"></td>
                    </tr>
                    <tr>
                        <td class="label">Sleight of hand</td>
                        <td class="center"><span class="explanation">(dex)</span></td>
                        <td class="mod"><input type="text" class="stat-mod" value="xyz" id="skill-sleight-of-hand-mod"></td>
                        <td class="toggle"><input type="checkbox" id="skill-sleight-of-hand-toggle"></td>
                        <td class="right"><input type="button" value="Sleight of hand check" id="roll-saving-throw-str"></td>
                    </tr>
                    <tr>
                        <td class="label">Stealth</td>
                        <td class="center"><span class="explanation">(dex)</span></td>
                        <td class="mod"><input type="text" class="stat-mod" value="xyz" id="skill-stealth-mod"></td>
                        <td class="toggle"><input type="checkbox" id="skill-stealth-toggle"></td>
                        <td class="right"><input type="button" value="Stealth check" id="roll-saving-throw-str"></td>
                    </tr>
                    <tr>
                        <td class="label">Survival</td>
                        <td class="center"><span class="explanation">(wis)</span></td>
                        <td class="mod"><input type="text" class="stat-mod" value="xyz" id="skill-survival-mod"></td>
                        <td class="toggle"><input type="checkbox" id="skill-survival-toggle"></td>
                        <td class="right"><input type="button" value="Survival check" id="roll-saving-throw-str"></td>
                    </tr>
                </table>
            </div>
            
        </div>
    </div>
    
    </div> <!-- container -->
</body>
